@import 'tailwindcss';

@font-face {
  font-family: 'spirits-soft';
  src:
    url('https://use.typekit.net/af/26360b/00000000000000007735f3f1/30/l?subset_id=2&fvd=n9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/26360b/00000000000000007735f3f1/30/d?subset_id=2&fvd=n9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/26360b/00000000000000007735f3f1/30/a?subset_id=2&fvd=n9&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'spirits-soft';
  src:
    url('https://use.typekit.net/af/37305f/00000000000000007735f3f2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/37305f/00000000000000007735f3f2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/37305f/00000000000000007735f3f2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'spirits-soft';
  src:
    url('https://use.typekit.net/af/2a212d/00000000000000007735f3e9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/2a212d/00000000000000007735f3e9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/2a212d/00000000000000007735f3e9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.tk-spirits-soft {
  font-family: 'spirits-soft', serif;
}

input {
  @apply ring-offset-0 ring-0;
}

input:focus {
    outline: none;
  }

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  /* Firefox */
  input[type='number'] {
    @apply appearance-none;
  }
}
