.OtpContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
}

.OtpInput {
    max-width: 70px;
    padding: 18px 14px 17px 15px;
    border-radius: var(--Border-Radius, 2px);
    background: var(--text-invert-primary, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.OtpInput>input {
    width: 100%;
    text-align: center;
    color: var(--Text, #171717);
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.ResendOtp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-top: 8px;
}

.ResendOtp>p{
    cursor: pointer;
    color: var(--text-secondary, #737373);
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.ResendOtp>span{
    color: var(--text-secondary, #737373);
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}