.VerificationFailedModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.VerificationDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.VerificationDescription>h2 {
    color: var(--Text, #171717);
    text-align: center;
    font-family: "spirits-soft";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.56px;
}

.VerificationDescription>p {
    color: var(--Secondary-text-Dark, #212120);
    text-align: center;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.RequestCallBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.RequestCallBack>p {
    color: var(--text-primary, #0A0A0A);
    text-align: center;
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.CallBackClick {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.CallBackClick>p {
    color: var(--text-primary, #0A0A0A);
    text-align: center;
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: var(--font-size-button-input-button-sm, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.ChatWithUs > p{
    color: var(--text-primary, #0A0A0A);
    text-align: center;
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.ChatWithUsContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.ChatWithUsContent>p{
    color: var(--text-primary, #0A0A0A);
    text-align: center;
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: var(--font-size-button-input-button-sm, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

@media only screen and (max-width: 540px){
    .CallBackClick{
        display: none;
    }
    .VerificationDescription>h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 32px */
        letter-spacing: 0.4px;
    }
    .VerificationDescription>p{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px; 
    }
}