.StaticModalTitle{
    color: var(--neutral-gray-grey-950, #0A0A0A);
    text-align: center;
    font-family: var(--font-family-Title, "spirits-soft");
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 100%;
}

.StaticModalDownloadLink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    color: var(--Purple---Brand-800, #5B498E);
    text-align: center;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.StaticContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.StaticContent>h3{
    color: var(--neutral-gray-grey-800, #262626);
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.StaticContent>ol>li{
    color: var(--neutral-gray-grey-800, #262626);
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.StaticContent>p{
    color: var(--neutral-gray-grey-800, #262626);
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.StaticContent>p>a{
    color: var(--neutral-gray-grey-800, blue);
    text-decoration: underline;
    font-family: var(--font-family-Body, "Fira Sans");
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.CustomScroll {
  scrollbar-width: unset !important;           
  -ms-overflow-style: auto !important;        
}

.CustomScroll::-webkit-scrollbar {
  display: block !important;
  width: 8px;
  height: 8px;
  scrollbar-width: thin !important;
  -ms-overflow-style: auto !important;
}

.CustomScroll::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 8px;
  border: 2px solid #D9D9D9;
}